
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de Boleto</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="@Url.Action("Guardar", "Boleto")">
                            <div class="form-group">
                                <label>Numero de Boleto :</label>
                                <input class="form-control" name="numeroBoleto" />

                            </div>
                            <button class="btn btn-success" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
